body, html {
    height: 100%;
}

/*Lodaer*/
/*border: 10px solid #f3f3f3;*/
/*border-radius: 50%;*/
/*border-top: 10px solid gray;*/

#preloader {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 5000; }

#preloader .loader {
    display: block;
    width: 80px;
    height: 80px;
    border: 2px solid #f3f3f3;
    border-top:5px solid gray;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    animation: spin 2s infinite linear; }

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*Top Header*/
.top_header_wrap
{
    background-color: lightgray;
    padding: 5px 0 0 0;
}
.top_header_content
{

}
.social_status>ul>li
{
    padding-top: 5px;
}
.social_status>ul>li>a>i
{
   color:slategray;
}
/*Header*/
.donate_button
{
    border: 1px solid;
    /*transition: width 5s, height 5s;*/

}
.donate_button:hover
{
    /*content: "";*/
    /*width: calc(100% - 200px);*/
    /*height: calc(100% - 80px);*/
    /*border-radius:0;*/
    /*border:2px solid #5A6268;*/

}
/*Navbar*/
.navbar_wrap
{
    background-color: lightgray;
    padding:0;

}
.navbar-nav .nav-item:active
{
    /*border-bottom: 2px solid #666666;*/
}
.navbar-nav .nav-item:hover,.navbar-nav .nav-item:focus
{
    cursor: pointer;
    transition-duration: 500ms;

    background-color: gray;

}
.navbar-nav .nav-item >.nav-link:hover
{
    color: white;
}
.navbar-nav li
{
    padding: 10px;
}
.navbar-nav .dropdown .dropdown-menu
{
    background-color:gray;

}
.navbar-nav .dropdown .dropdown-menu .dropdown-item
{
    color: white;
}
.navbar-nav .dropdown .dropdown-menu .dropdown-item:hover
{
    background-color: inherit;
    color:darkslategray;
}

/*About Page*/
.about_banner_wrap
{
    background-image: url('http://wancs.org.uk/uploads/inner-bg.jpg');
    padding: 120px 0;
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0);
    background-origin: initial;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: 0;

}
.banner_content
{

    /*border-bottom: 2px solid darkslategray;*/


}


/*Project Block*/
.project_title,.activity_title
{
    border-bottom: 1px solid gainsboro;
    margin-bottom: 50px;
}
.project_single_wrap
{
    border: none;
}
/*Home Parallax*/
.home_parallax
{
    background-image: url('http://via.placeholder.com/640x360');
    /* Set a specific height */
    height: 350px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

/*Footer*/
.home_page_link> ul
{
    margin-left: 42%;
}
.home_page_link> ul >li
{
    margin-bottom: 10px;
    display: block;
    width: 100%;
    border-bottom: 1px dashed lightgrey;
    padding-bottom: 10px;
}
.home_page_link> ul >li:last-child
{
    border-bottom:none;
}

.home_page_link>ul>li>a
{
    color:lightslategray;
    display: block;
}